<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entenda o mercado financeiro</title>
    <link rel="stylesheet" href="../styles/mercado-financeiro.css">
</head>

<body>
    <header>
        <h1>
            Mercado financeiro e suas peculiaridades
        </h1>
        <blockquote class="citacao" cite="https://www.pensador.com/frase/MTA1NTIwMQ/">
            
            <p>
                " Se você almeja ser rico, pense em poupar assim como você pensa em ganhar "
            </p>
            <p>
                - Benjamin Franklin
            </p>
        </blockquote>
        

    </header>
    <main>
        <article>
            <h1>
                O que é mercado financeiro
            </h1>

            <picture>
                <img id="mercado-financeiro" src="../images/mercado-financeiro-cortado.jpg" alt="Mercado financeiro">
            </picture>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab itaque asperiores quam quod delectus? Eaque
                eligendi ea blanditiis harum, tempora soluta neque, debitis sint temporibus, eius officia natus sapiente
                eum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit aliquid adipisci temporibus nemo
                beatae ullam perferendis eveniet consequuntur, doloremque odio ad consectetur porro vero culpa,
                excepturi ratione, eligendi iusto distinctio.</p>

            <h2>
                Como o mercado financeiro impacta um país
            </h2>
            <p>
                Esse mercado financia atividades produtivas, contribuindo com o desenvolvimento de um país e na geração
                de empregos. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id molestiae illum quidem
                accusamus error animi quasi culpa repellendus, possimus, blanditiis odio fuga minus. Delectus doloribus
                non nobis aliquam aperiam hic! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
                velit, maiores magnam nobis aliquid fugit architecto reiciendis debitis illo aut, commodi rem facere
                provident quod quos. Error odit quae blanditiis?
            </p>
            <h2>
                Como investir no mercado financeiro
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis unde totam vitae quia libero aliquid
                nesciunt pariatur maxime aut, voluptatem quibusdam rerum et maiores iusto quisquam quasi ex, illo nobis?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis earum, beatae laborum facere magnam
                expedita ratione doloremque rem quas voluptates quisquam quos incidunt. Consectetur mollitia distinctio
                quisquam, architecto officiis ullam? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab
                adipisci suscipit quae sapiente laudantium officiis perferendis architecto magni quo accusantium
                delectus minima consequuntur laboriosam, vero facere odio? Harum, fugiat deserunt!
            </p>
        </article>
        <aside>
            <h3>Outros artigos sobre o tema: </h3>
            <ul>
                <li>
                    <a href="#">
                        <img src="../images/fiis-p.jpg" alt="Fundos imobiliários">
                        <p>
                            Como investir em fundo imobiliários
                        </p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/fiis-p.jpg" alt="Fundos imobiliários">
                        <p>
                            Como investir em ações no Brasil
                        </p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/fiis-p.jpg" alt="Fundos imobiliários">
                        <p>
                            Como investir em ações internacionais
                        </p>
                    </a>
                </li>
            </ul>
        </aside>
    </main>
    <footer>
        <p>
            Site feito por <a href="#">Adrian Kauling</a>
        </p>
    </footer>
</body>

</html>